.cc {
    margin: 0 30px 20px 30px;
}

.btn {
    margin: 0 auto;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.35rem 3rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
    padding: 5px, 10px;
    border: 1px solid #417505;
    color: #417505;
    background-color: white;
    box-sizing: border-box;
}

.btn-primary:hover {
    color: #fff;
    background-color: #417505;
    border-color: #417505;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #315804;
    border-color:  #315804;
}
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 187, 0, 0.753);
}
.animal-link{color: #417505;}
a:hover {
    color:#fff;
    text-decoration: none;
}