#navbarblock {
      width: 100%;
      background-color: #0AAF4B;
}

.dropdown {
      padding: 0px 25px;
}

body {
      font-family: Arial, "微軟正黑體", sans-serif;
}

.dropdown-item {
      padding: 5px 0px;
      text-align: center;
      color: white;

}

.logo {
      width: 240px;
}

.nav-menu {
      width: 35px;

}

.nav-menu-block {
      text-align: center;

}

.nav-menu1 {
      padding: 5px 0px;
      text-align: center;
}

.img-block {
      width: 15px;
      margin-right: 10px;
}

.nav-item.dropdown {
      transition-duration: 5s;
      transition-timing-function: ease-in-out;

}

/* hover */

#indexiconHover :nth-child(2) {
      display: none;
}

#index:hover #indexiconHover :nth-child(2) {
      display: block;
}

#index:hover #indexiconHover :nth-child(1) {
      display: none;
}

#index:hover #indexiconHover>p {
      color: #897049 !important;
}

#originiconHover :nth-child(2) {
      display: none;
}

#origin:hover #originiconHover :nth-child(2) {
      display: block;
}

#origin:hover #originiconHover :nth-child(1) {
      display: none;
}

#origin:hover #originiconHover>p {
      color: #897049 !important;
}

#viewiconHover :nth-child(2) {
      display: none;
}

#view:hover #viewiconHover :nth-child(2) {
      display: block;
}

#view:hover #viewiconHover :nth-child(1) {
      display: none;
}

#view:hover #viewiconHover>p {
      color: #897049 !important;
}

#contacticonHover :nth-child(2) {
      display: none;
}

#contact:hover #contacticonHover :nth-child(2) {
      display: block;
}

#contact:hover #contacticonHover :nth-child(1) {
      display: none;
}

#contact:hover #contacticonHover>p {
      color: #897049 !important;
}