#navbarblock {
      width: 100%;
      background-color: #0AAF4B;
}

.dropdown {
      padding: 0px 25px;
}

body {
      font-family: Arial, "微軟正黑體", sans-serif;
}

.dropdown-item {
      padding: 5px 0px;
      text-align: center;
      color: white;
}

.logo {
      width: 240px;
}

.nav-menu {
      width: 35px;
}

.nav-menu-block {
      text-align: center;
}

.img-block {
      width: 15px;
      margin-right: 10px;
}

.nav-item.dropdown {
      transition-duration: 5s;
      transition-timing-function: ease-in-out;
}

/* hover */

#indexiconHover img:hover {
      content: url('../Icon/01-nav/hover/indexhover.png');
}

#index:hover #indexiconHover>p {
      color: #897049 !important;
}

#originiconHover img:hover {
      content: url('../Icon/01-nav/hover/originhover.png');
}

#origin:hover #originiconHover>p {
      color: #897049 !important;
}

#viewiconHover img:hover {
      content: url('../Icon/01-nav/hover/viewhover.png');
}

#view:hover #viewiconHover>p {
      color: #897049 !important;
}

#contacticonHover img:hover {
      content: url('../Icon/01-nav/hover/contacthover.png');
}

#contact:hover #contacticonHover>p {
      color: #897049 !important;
}

html,
body {
      /* position: relative; */
      height: 100%;
}

body {
      background: white;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
}

/* 共通 */

h1 {
      width: 100%;
      padding: 50px;
      text-align: center;
}