#navbarblock{
      width: 100%;
      background-color: #0AAF4B;
      height: 90px;
}

.nav-item dropdown{
      padding: 20px 15px;
}
.dropdown {
      padding: 0px 15px;
  }

body {
      font-family: Arial, "微軟正黑體", sans-serif;
}
.navbar-nav .dropdown-menu {
      
      left: -30;
      position: static;
      top: 89;
}

.dropdown-item {
      padding: 5px 0px;
      text-align: center;
      color: white;
}
.collapse{
      height: 60px;
}
.logo {
      width: 240px;
}
.navbar{
      height: 80px;

}
.nav-menu {
      width: 35px;
}

.nav-menu-block {
      text-align: center;
}

.img-block {
      width: 15px;
      margin-right: 10px;
}
.nav-item{
      margin-top: 20px;
}
.nav-item.dropdown {
      transition-duration: 5s;
      transition-timing-function: ease-in-out;
}

.dropdown-item:focus,
.dropdown-item:hover {
      color: #FFF;
      text-decoration: none;
      background-color: #4b2b52;
}
.collapse{
      margin-bottom: -10;
}
/* hover */

#index:hover #indexiconHover img {
      content: url('../Icon/01-nav/hover/indexhover.png');
}

#index:hover #indexiconHover>p {
      color: #897049 !important;
}

#origin:hover #originiconHover img {
      content: url('../Icon/01-nav/hover/originhover.png');
}

#origin:hover #originiconHover>p {
      color: #897049 !important;
}

#view:hover #viewiconHover:hover  img {
      content: url('../Icon/01-nav/hover/viewhover.png');
}
#view:hover #viewiconHover>p {
      color: #897049 !important;
}

#contact:hover #contacticonHover img {
      content: url('../Icon/01-nav/hover/contacthover.png');
}

#contact:hover #contacticonHover>p {
      color: #897049 !important;
}

.dropdown:hover .dropdown-menu {
      display: block;
}
.dropdown-menu{
      transform: translateY(-13px);
}

html,
body {
      /* position: relative; */
      height: 100%;
}

body {
      background: white;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
}

/* 共通 */

h1 {
      width: 100%;
      padding: 50px;
      text-align: center;
}