#footer {
    width: 100%;
    height: 240px;
    background-position:bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../Img/footer/footer.png);
    margin-top: 250px;
}


body{
    font-family: Arial, "微軟正黑體", sans-serif;
    }