#footer {
    width: 100%;
    height: 240px;
    background-position:bottom;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../Img/footer/footer.png);
    margin-top: 150px;
}
.font_36px{
    font-size: 36px;
}


body{
    font-family: Arial, "微軟正黑體", sans-serif;
    }
/*分隔*/    
tt{margin-bottom: 100px;}

#box{margin-bottom: 45px; }
/*標題*/

.faemeview_title_img {
    text-align: center;
    display: block;
    margin: 0 auto 60px;
    width: 395px;
}